<server description="Sample Open Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>mpConfig-2.0</feature>
    <feature>mpHealth-3.1</feature>
    <feature>mpMetrics-3.0</feature>
  </featureManager>

  <applicationManager autoExpand="true" />

  <mpMetrics authentication="false" />

  <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

  <webApplication location="io.openliberty.sample.getting.started.war" contextRoot="${app.context.root}"/>
</server>
