on:
  schedule:
  - cron: "*/5 * * * *"

name: Production & Community Registries Check

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  check-registry:
    name: Check registry entries
    runs-on: 'ubuntu-latest'
    outputs:
      matrix: ${{ steps.get-stacks.outputs.matrix }}
    steps:
      - name: Checkout code
        id: checkout-code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup go
        id: setup-go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19.5'
      - name: Run registries check
        id: build
        run: |
          go build alizer.go
          bash test/check_registry/check_registry.sh